body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 12px;
	color: #ffffff;
	background: #4b4743;
}

a:link, a:visited {
	color: #CC5850;
	text-decoration: none;
	font-weight: bold;
	/*text-shadow: 0.1em 0.05em 0.1em #DFAAA6;*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:active, a:hover {
	color: #AAC9DD;
	text-decoration: underline;
}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

#container {
	width: auto;
	margin: 0 auto;
	padding: 0 10px;
	/*background: #1c1c1b url(../images/bg.jpg) repeat-y;*/
	background: #000000;
}

/* menu */
#before-header {
	width: auto;
	height: 50px;
	/*background: url(../images/logo.jpg) repeat; */
	background: #640E0E;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#menu {
	
}

#menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#menu ul li {
	display: inline-block;
}

#menu ul li a {
	display: inline-block;
	padding: 0 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	
	color: #FFFFFF;
	background: #000000;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#menu li .current {
	color: #640E0E;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	background: #FFCCCC;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#menu li a:hover {
	color: #640E0E;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	background: #66B2FF;
	border: 1px solid #640E0E;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/* header */
/*
#header {
	clear: both;
	width: auto;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url(../images/header_bg_blank.jpg) no-repeat;
}

#header a, a:hover {
	color: #ffffff;
}*/

#header #main_logo {
	margin-left: 100px;
	margin-top: 20px;
	float: left;
	overflow: hidden;
	width: auto;
	text-align: center;
}

#header #main_logo img {
	max-height: 200px;
}

/* end of header */

/* content */
#content {
	clear: both;
	width: auto;
	padding: 0 20px;	
}

#content #content_left {
	float: left;
	width: auto;
	padding: 3px;
	background-color: #171716;
	border: 1px solid #212120;
}


/* end of content */

/* footer */
#footer {
	clear: both;
	width: auto;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	color: #ffffff;
	background-color: #640E0E;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#footer a {
	color: #fff;
	font-weight: normal;
}
/* end of footer */

/************************************************/
tr:nth-child(even) {
	background-color: #640E0E;
}

th {
	color: #640E0E;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	background: #FFCCCC;
	border: 1px solid #640E0E;
}

h1, h2, h3 {
	color: #640E0E;
	text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
}

.css-table-index td {
	padding: 3px;
}

.css-table-item-index {
	font-size: x-small;
}

.css-table-item-index td {
	padding: 2px;
}

.css-table-index tr:hover :not(th)  
{
	background-color: #CC5850;
	color: #F7F6C3;
}

.paginator_field {
	background-color: #363333;
}

.css-input_text_form {
	width: 250px;
}

.css-input_number_form {
	width: 50px;
	text-align: right;
}

.css-table-search {
	font-size: x-small;	
}

.css-table-search td input {
	width: 97%;
	font-size: x-small;
}

.css-table-search td select {
	width: 100%;
	font-size: x-small;
}

.css-container_notification {
	color: #F7F6C3;
	font-style: italic;
	font-weight: bold;
}

.css-container_photo img {
    width: 500px;
	height: auto;
	display: block;
	margin: 20px auto 10px;
	outline: none;
}

.css-container_photo_sample img {
    width: 160px;
    height: auto;
}

.errors li {
	background-color: red;
	font-style: italic;
}
